
@font-face {
    font-family: 'ralewaymedium';
    src: url('../fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('../fonts/raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: ralewaymedium, san-serif;
}
main {
    padding: 10px 50px;
}
img {
    width: 30%;
    display: block;
    margin: 0 auto;
}
h1, footer {
    margin: 0;
    background-color: #326477;
    color: white;
    padding: 10px;
    text-align:center; 
}
h2 {
    text-align: center;
}
footer a {
    color: white;
}
li {
    padding: 5px 0;
}
li a, li a:visited{
    color: #326477;
}

@media screen and (min-width: 500px) { 
    #content {
        width: 80%;
        max-width: 1000px;
        margin: 50px auto;
    }
    h1, footer {
        border-radius: 15px;
    }
    img{
        float: right;
        width: 20%;
        border-radius: 5px;
    }
} 

@media screen and (min-width: 700px) {

    
}