@import url('https://fonts.googleapis.com/css2?family=Basic&family=Jura&display=swap');
body {
    background-color: #309981;
    text-align: center;
    font-family: Basic, 'Times New Roman',Times, serif;
}
#content {
    background-color: white;
    padding: 30px;
    width: 85%;
    margin: 0 auto;
    max-width: 1200px;
}
h1 {
    font-size: 2em;
    
}
h2 {
    font-size: 1.5em;
}
h1, h2 {
    padding: 10px;
}
h3 {
    font-family: Jura, Arial, Helvetica, sans-serif;
}
ol, ul {
    text-align: left;
}
p {
    line-height: 1.5em;
}
p, .jura {
    font-family: Jura, Arial, Helvetica, sans-serif;
}
p, ol {
    margin-left: 6em;
    margin-right: 6em;
    font-family: Jura, Arial, Helvetica;
}
ol li {
    line-height: 1.5em;
}
.logo {
    width: 190px;
    padding-bottom: 50px;
}
.pri, .sec, .acc1, .acc2, .acc3 {
    margin: 40px 0 15px 0;
}
nav ul {
    padding-inline-start: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: #8F6B60;
    margin: 0 auto;
}
nav li {
    padding: 20px 60px 20px 60px;
}
nav a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    text-align: center;
}
nav a:hover {
    
    color: black;
}
nav li:hover {
    background-color: #FAD4C8;
}
.persona {
    overflow: hidden;
    height: 200px;
    clip: rect(0px,60px,200px,0px);
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.pri {
    background-color: #309981;
}
.sec {
    background-color: #8F6B60;
}
.acc1 {
   background-color: #DB8467;
}
.acc2 {
    background-color: #5CDBBE;
}
.acc3 {
    background-color: #FAD4C8;
}
.sitemap {
    width: 100%;
}
#topo {
    height: 100vh;
}
section a {
    font-size: 1.5em;
    color:#8F6B60;
    font-family: Basic, 
}
footer {
    padding-top: 30px;
}
@media screen and (max-width: 1000px) { 
    nav a {
        font-size: 1.1em;
    }
}
@media screen and (max-width: 750px) { 
    nav ul {
        display: block;
    }
    nav li {
        padding: 10px;
        text-align: center;
    }
    nav a {
        font-size: 1.3em;
    }
    p, ol {
        margin-left: 2em;
        margin-right: 2em;
    }
}